<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>f-m2-evaluacion-intermedia-cterrasid</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <h1>Adivina el número</h1>
    <div class="game__counter"></div>
    <form action="" method="get">
        <label for="number">Introduce aquí tu número</label>
        <input class="game__input" type="number" name="user_number" id="number" label="user_number" placeholder="Introduce aquí tu número" required>
        <button class="game__button" type="button">Prueba</button>
    </form>
    <p class="game__feedback">Escribe un número y dale a <em>Prueba</em></p>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>