<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>f-m2-evaluacion-intermedia-cterrasid</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <section class="game__container">
        <h1 class="game__title">Adivina el número</h1>
        <div class="game__counter"></div>
        <form class="game__form" action="" method="get">
            <label class="game__input-title" for="number">Introduce aquí tu número</label>
            <input class="game__input" type="number" name="user_number" id="number" label="user_number"
                placeholder="Introduce aquí tu número" required>
            <button class="game__button" type="button">Prueba</button>
            <button class="game__reset" type="reset">Reset</button>
        </form>
        <p class="game__feedback">Escribe un número y dale a <em>Prueba</em></p>
    </section>
    <script type="text/javascript" src="assets/js/main.js"></script>
</body>

</html>