.game__container{
   @include gridContainer(grid, 1fr 1fr 1fr, 70px 280px 40px, 
   'counter counter counter'
   'form form form'
   'feedback feedback feedback');
   @include gridBoxAlignment(center, center);
   @include typography(unset, $fontSizeM, $fontWeightXS)
}

.game__header{
    grid-area: header;
    @include gridContainer(grid, 1fr, 50px 10px 100px, 
    'title title title'
    'square square square'
    'subtitle subtitle subtitle');
    @include gridBoxAlignment(center, center);
    padding-top: 100px;
}

.game__title{
    grid-area: title;
    width: 315px;
    text-align: center;
   @include typography($fontTitle, 50px, unset);
}

.decoration {
    z-index: -1;
    align-self: self-end;
    grid-area: square;
    background-color: rgba(128, 128, 128, 0.562);
    height: 70px;
    width: 400px;
}

.game__subtitle{
    grid-area: subtitle;
   @include typography($fontSubtitle, $fontSizeL, $fontWeightM);
}

.game__counter{
    @include counter;
}

.game__form{
    grid-area: form;
    @include gridContainer(grid, 1fr, 1fr 1fr 1fr, 
    'title-input' 
    'input' 
    'btn' 
    'reset');
    @include gridBoxAlignment(center, center);
}

.game__input-title{
    grid-area: title-input;
}

.game__input{
    @include input;
}

.game__button{
    grid-area: btn;
    @include button;
}

.game__reset{
    grid-area: reset;
    @include button;

}

.game__feedback{
    grid-area: feedback;
    font-family: $fontFeedback;
}

.unvalid__number{
    color: rgb(59, 6, 55);
    font-size: 30px;
}