.game__container{
   @include gridContainer(grid, 1fr 1fr 1fr, 70px 1fr 1fr, 
   'counter counter counter'
   'form form form'
   'feedback feedback feedback');
   @include gridBoxAlignment(center, center);
   @include typography($fontFamily, $fontSizeM, $fontWeightXS)
}

.game__header{
    grid-area: header;
    @include gridContainer(grid, 1fr, 50px 10px 100px, 
    'title title title'
    'square square square'
    'subtitle subtitle subtitle');
    @include gridBoxAlignment(center, center);
}

.game__title{
    grid-area: title;

   @include typography($fontTitle, 50px, unset);
}

.decoration {
    z-index: -1;
    grid-area: square;
    background-color: pink;
    height: 200px;
    width: 400px;
}

.game__subtitle{
    grid-area: subtitle;
   @include typography($fontFamily, $fontSizeL, $fontWeightM);
}

.game__counter{
    @include counter;
}

.game__form{
    grid-area: form;
    @include gridContainer(grid, 1fr, 1fr 1fr 1fr, 
    'title-input' 
    'input' 
    'btn' 
    'reset');
    @include gridBoxAlignment(center, center);
}

.game__input-title{
    grid-area: title-input;
}

.game__input{
    @include input;
}

.game__button{
    grid-area: btn;
    @include button;
}

.game__reset{
    grid-area: reset;

}

.game__feedback{
    grid-area: feedback;
}