@mixin gridContainer($display, $gridTempCol, $gridTempRw, $gridTempAr) {
    display: $display;
    grid-template-columns: $gridTempCol;
    grid-template-rows: $gridTempRw;
    grid-template-areas: $gridTempAr;
}

@mixin gridBoxAlignment($justify-items, $align-items) {
    justify-items: $justify-items;
    align-items: $align-items;
}

@mixin typography($font-family, $font-size, $font-weight){
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin boxSize($height, $width) {
    height: $height;
    width: $width;
}

@mixin input {
    grid-area: input;
    width: 50px;
    height: 50px;
    display: block;
    border: 5px solid grey;
    font-size: 20px;
    text-align: center;

    &:focus {
        border: 1px solid rgba(154, 206, 50, 0.644);
    }
}

@mixin counter {
    grid-area: counter;
    display: inline-block;
    justify-self: flex-end;
    border: 5px solid rgba(128, 128, 128, 0.562);
    height: 70px;
    width: 70px;
    text-align: center;
    padding-top: 20px;
}

@mixin button {
    width: 50px;
    height: 30px;
    display: block;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;

    &:focus {
        border: 1px solid rgba(128, 128, 128, 0.562);
    }
}