@mixin gridContainer($display, $gridTempCol, $gridTempRw, $gridTempAr) {
    display: $display;
    grid-template-columns: $gridTempCol;
    grid-template-rows: $gridTempRw;
    grid-template-areas: $gridTempAr;
}

@mixin gridBoxAlignment($justify-items, $align-items) {
    justify-items: $justify-items;
    align-items: $align-items;
}

@mixin typography($font-family, $font-size, $font-weight){
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}