//Font Family
$fontFamily: 'Comfortaa', cursive;

//Font Size
$defaultFontSize: 16;
$fontSizeS:rem(14);
$fontSizeM:rem(16);
$fontSizeL:rem(18);

//Font Weight
$fontWeightXS:400;
$fontWeightS:600;
$fontWeightM:700;
$fontWeightL:900;